.serchBox {
  width: 320px;
}

.title {
  font-size: 26px;
}

.field {
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  &:focus {
    border: 1px solid blue;
  }
}
