.form {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 320px;
}

.input {
  border-radius: 10px;
  font: inherit;
  padding: 4px;
}

.btn {
  border-radius: 10px;
  padding: 8px 16px;
  width: max-content;
}

.error {
  color: brown;
  font-size: 14px;

  margin-bottom: 16px;
}
