.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 32px;
  width: 400px;
}

.label {
  font-size: 22px;
  font-weight: 500;
}

.field {
  width: 320px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  &:focus {
    border: 1px solid blue;
  }
}

.error {
  color: red;
}

.btn {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 20px;

  &:hover {
    background-color: lightgreen;
  }
}
